# Get Latest .gitignore at https://github.com/RoyalCookieX/NDREngine/.gitignore

# NDREngine
/binaries/
/intermediates/

# Visual Studio Community
.vs/
*.vcproj
*.vcxproj
*.vcproj.filters
*.vcxproj.filters
*.vcproj.user
*.vcxproj.user
*.sln
*.pdb
*.idb

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# Misc.
*.log